/*﻿@media only screen and (max-width:400px) {*/
/*  .FixTable {
    width: 100%;
    table-layout: fixed;
    word-break: break-word;
  }*/
/*}*/
table, tbody, tr, th, td {
  display: block;
}
