html { font-size: 62.5%; }

@media screen and (min-width: 768px) {
  .br-sp { display:none; }
}

@media screen and (max-width: 767px) {
  .insert-space { display:none; }
h1 {font-size:3.6rem;}
}

.custom-file-label::after {
  content: "ファイル参照";
}