html { font-size: 62.5%; }
/* 1em=10px */

body {
  font-size: 1.4rem;
  font-weight: bold;
}

h1 { font-weight: bold; }

.form-control, .custom-select, .custom-file, .custom-file-label {
  height: 3.4rem;
}

.form-group:nth-child(8) { margin-bottom: 0rem;}

.custom-file-label::after { height: 3.2rem; }

.custom-file-input:lang(ja) ~ .custom-file-label::after {
  content: "参照";
}

.custom-file .invalid-feedback { margin-top: 1.25rem; }

.btn {
  font-size: 1.4rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .col-form-label {
    text-align: right;
  }
  
  h1 { font-size: 2.8rem; }
  
  .navbar br { display: none; }
}

@media screen and (max-width: 767px) {
  h1 { font-size: 2.4rem; }
  
  .halfspace { display: none; }
}