html { font-size: 62.5%; }
/* 1em=10px */

body {
  font-size: 1.4rem;
  font-weight: bold;
}

h1 { font-weight: bold; }

.form-control, .custom-select, .custom-file, .custom-file-input, .custom-file-label {
  height: 3.4rem;
}

.input-group-text {
  font-size: 1.4rem;
  font-weight: bold;
}

.custom-file-label::after {
  font-weight: bold;
  height: 3.2rem;
}

.btn {
  font-size: 1.4rem;
  font-weight: bold;
}

.help-block {
  color: red;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .badge { float: right; }
  
  .col-form-label { text-align: right; }
  
  h1 { font-size: 2.8rem; }
  
  .navbar br { display: none; }

  .form-group:nth-child(n+5):nth-child(-n+6) { align-items: center; }

  .form-group:nth-child(n+5):nth-child(-n+6) .col-form-label .halfspace { display: none; }
}

@media screen and (max-width: 767px) {
  h1 { font-size: 2.4rem; }
  
  .navbar .halfspace { display: none; }

  .dummy-label { display: none; }

  .form-group:nth-child(9) .col-md-2:not(:first-child):not(:last-child) { margin-bottom: 1rem; }

  .form-group:nth-child(n+5):nth-child(-n+6) .col-form-label br { display: none; }
}