body {
	-webkit-text-size-adjust: 100%;
	font-size: 12px;
}

p#selectName4, p#selectName5, p#selectName6, p#selectName1, p#selectName2 {
	border-bottom: 1px solid;

}

p#selectName1 select {
	font-size: 10px;
}

p#selectName4 button, p#selectName5 button, p#selectName6 button, p#selectName1 button, p#selectName2 button {
	font-size: 12px;
}

optgroup {
	display: none;
}