body {
margin-left: 0px;	/* default: 8px */
margin-right: 0px;	/* default: 8px */
margin-right: 0px;	/* default: 8px */
margin-bottom: 0px;	/* default: 8px */
-webkit-text-size-adjust: 100%;
}
table{
width: 320px;
margin-top:16px;

width:px;

border:1px solid #cccccc;
border-collapse:collapse;
}

a{
padding:5px 0px 5px 5px;
display:block;
text-decoration:none;


background-color:#eeeeee;
color:#555555;

}
td{
padding:0px 0px 0px 0px;
}
a:hover{
background-color:#aaaaaa;}
tr:not(:last-child){
border-bottom:1px solid #cccccc;
}