td {
	
	font-family: 'ＭＳ Ｐゴシック';
	font-size: 11pt;
	height: 18px;
	
}

#tableBody tr:hover {
	
	color: #ffffff;
	background: #0a246a;
	cursor:pointer;
	
}


	#tableBody {
		width: calc(320px + 16px);
		height: 950px;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	table { width: 320px; }

	#tableHeader { display: none; }

	#tableBody td {
		width: calc(320px - 16px);
		display: flex;
		margin-bottom: 5px;	/* block要素化必須 */
		align-items: center;
	}

	#tableBody td:nth-child(3) {
		height: calc(18px * 3);	/* 項目名は3行分確保 */
	}

